{% for cobbler_distro in _cobbler_updated_distros.values() | list %}
{% set id = "cobbler_" + cobbler_distro.name | regex_replace(" ", "") | regex_replace("-", "_") %}
{% if cobbler_distro.artifact.dest | default("") | length > 0 %}
{% set dest = cobbler_iso_dir + "/" + cobbler_distro.artifact.dest %}
{% else %}
{% set dest = cobbler_iso_dir %}
{% endif %}
{% set override = { "id": id, "dest": dest, "no_log": cobbler_no_log | bool } %}
{% set artifact = cobbler_distro.artifact | combine(override) %}
- {{ artifact | to_json }}
{% else %}
[]
{% endfor %}
