{% for cobbler_distro in cobbler_updated_distros.values() %}
{% set id = "cobbler_" + cobbler_distro.name | regex_replace(" ", "") | regex_replace("-", "_") %}
{% set dest = cobbler_iso_dir + "/" + cobbler_distro.artifact.dest | default("") %}
{% set override = { "id": id, "dest": dest } %}
{% set artifact = cobbler_distro.artifact | combine(override) %}
- {{ artifact | to_json }}
{% else %}
[]
{% endfor %}
