{{ ansible_managed | comment }}

[authentication]
module = authn_configfile

[authorization]
module = authz_allowall

[dhcp]
module = manage_dnsmasq

[dns]
module = manage_dnsmasq

[tftpd]
module = manage_in_tftpd
