#
# {{ ansible_managed }}
#

[authentication]
module = authn_configfile

[authorization]
module = authz_allowall

[dns]
module = manage_bind

[dhcp]
module = manage_isc

[tftpd]
module = manage_in_tftpd
