{{ ansible_managed | comment }}

[authentication]
module = {{ cobbler_module_authentication }}

[authorization]
module = {{ cobbler_module_authorization }}

[dhcp]
module = {{ cobbler_module_dhcp }}

[dns]
module = {{ cobbler_module_dns }}

[tftpd]
module = {{ cobbler_module_tftpd }}
