{% set ns = namespace(found=false) %}
{% for cobbler_profile in cobbler_profiles | list %}
{% set saved_profile = cobbler_saved_profiles[cobbler_profile.name] | default({}) %}
{% set default_autoinstall = cobbler_autoinstall_templates_dir + "/" + "default.ks" %}
{% if saved_profile.keys() | list | length == 0
      or saved_profile.distro | default(none) != cobbler_profile.distro | default(none)
      or cobbler_saved_autoinstalls[cobbler_profile.name] | default("") | trim | to_json != cobbler_profile.autoinstall_content | default("") | trim | to_json
      or (cobbler_profile.autoinstall_content | default('') | length == 0
          and saved_profile.autoinstall | default(default_autoinstall) != cobbler_profile.autoinstall | default(default_autoinstall))
      or saved_profile.kernel_options | default({}) != cobbler_profile.kopts | default({})
      or saved_profile.parent | default("") != cobbler_profile.parent | default("")
      or saved_profile.proxy | default("") != cobbler_profile.proxy | default("") %}
{% set ns.found = true %}
'{{ cobbler_profile.name }}': {{ cobbler_profile | to_json }}
{% endif %}
{% endfor %}
{% if not ns.found %}
{}
{% endif %}
